.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #0a3755, #778899);
    margin: 0;
    flex-direction: column
  }
  .main label {
    font-size: 14px;
    margin-bottom: .5rem;
  }
  .main input{
    width: 100%;
    border-radius: 10px;
    height: 35px;
    border: none;
    background-color: #fff;
    text-indent: 10px;
  }
  .main input:last-child {
    width: auto;
  }
  .termos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .main form {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    background-color: #fafafac1;
    padding: 20px;
    border-radius: 5px;
    padding: 20px 35px;
    font-family: sans-serif;
    box-shadow: #0000003b 3px 3px 3px;
    text-align: center;
  }

  .main a {
    color: #000;
    font-size: 14px;
  }
  
  .main button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .main button:hover {
    background-color: #2c709d;
    transition: .5s;
    cursor: pointer;
  }

  .footer {
    padding: 8px;
    text-align: center;
    background: #9da1a9;
    font-size: 7pt;
    width: 100%;
    margin-top: auto;
    font-family: sans-serif;
  }
  